#include "resource.h"

// Version Information
VS_VERSION_INFO VERSIONINFO
 FILEVERSION 10,0,19041,746
 PRODUCTVERSION 10,0,19041,746
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0" // Lang: US English, Charset: Unicode
        BEGIN
            VALUE "CompanyName", "Realtek Semiconductor Corp."
            VALUE "FileDescription", "Realtek HD Audio Universal Service"
            VALUE "FileVersion", "10.0.19041.746"
            VALUE "InternalName", "RTKAudioUniversalService.exe"
            VALUE "LegalCopyright", "(c) Realtek Semiconductor Corp. All rights reserved."
            VALUE "OriginalFilename", "RTKAudioUniversalService.exe"
            VALUE "ProductName", "Realtek High Definition Audio Driver"
            VALUE "ProductVersion", "6.0.8703.1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
